.app {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text: white;
    background-image: url("https://i.ibb.co/LdBdGrh/purple-and-blue-painting-3080654.jpg");
    background-repeat: repeat;
    background-size: 250%;
}
